{% extends "admin/file_manager/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="">{% trans "Home" %}</a> &rsaquo;
	<a href="{% url index %}">{% trans "File Manager" %}</a> &rsaquo;
	{% trans 'Listing' %}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">

	<h1>Directory: '/{{ directory.url }}'</h1>

    {% block object-tools %}
        <ul class="object-tools">
			{% if directory.can_write %}
			<li>
            <a href="{% url mkdir directory.url %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Create Directory{% endblocktrans %}
            </a>
          </li>
          <li>
            <a href="{% url create directory.url %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Add File{% endblocktrans %}
            </a>
          </li>
          <li>
            <a href="{% url upload directory.url %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Upload
File{% endblocktrans %}
            </a>
          </li>
			{% endif %}

        </ul>
    {% endblock %}

  
	<div class="module" id="changelist">
	<div class="actions">
	<!--
	<form action="" method="post">
		<label>Action: 
		<select name="action"> 
			<option value="" selected="selected">---------</option>
			<option value="delete_selected">Delete selected tags</option>
		</select>
		</label>
	<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
	-->
	{% if directory.url %}
		<a href="{% url list directory.parent %}">Up one Directory</a>
	{% else %}
		&nbsp;
	{% endif %}

	</div>


<table cellspacing="0">
	<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Size</th>
		<th>Permissions</th>
		<th>Created</th>
		<th>Modified</th>
		<th>User</th>
		<th>Group</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>

{% regroup files|dictsortreversed:"directory" by directory as file_list %}

{% for dfile in file_list %}

{% for file in dfile.list|dictsort:"filename" %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td>
			{% if file.directory %}D{% endif %}	
		</td>
		<td>
			<a href="{% if file.directory %}{% url list file.fileurl %}{% else %}/{{ file.fileurl }}{% endif %}">{{ file.filename }}</a>

		</td>
		<td>
			{% if not file.directory %}
				{{ file.size|filesizeformat }}
			{% endif %}	
		</td>
		<td>{{ file.perms }}</td>
		<td>{{ file.ctime|date:"m/d/Y" }}</td>
		<td>{{ file.mtime|date:"m/d/Y" }}</td>
		<td>{{ file.user }}</td>
		<td>{{ file.group }}</td>
		<td>
			{% if directory.can_write %}
				<a href="{% url rename file.fileurl %}">R</a> /
				<a href="{% url move file.fileurl %}">M</a> /
				<a href="{% url delete file.fileurl %}">D</a> /
			{% endif %}
			{% if not file.directory and file.can_edit  %}
				<a href="{% url update file.fileurl %}">Edit</a> /
			{% endif %}
			<a href="{% url copy file.fileurl %}">Copy</a>
		</td>
	</tr>
{% endfor %}

{% endfor %}
	</tbody>
</table>

<p class="paginator">
	{{ files|length }} file{{ files|pluralize }}
</p>


</div>
{% endblock %}
