{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block bodyclass %}change-list file_manager{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url admin_file_manager_index %}../">{% trans "Home" %}</a> &rsaquo;
	<a href="{% url admin_file_manager_index %}">{% trans "File Manager" %}</a> &rsaquo;
	{% trans 'Listing' %}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}

<div id="content-main">
	

	<h1>Directory: '/{{ directory.url }}'</h1>

    {% block object-tools %}
		<ul class="object-tools">
			{% if directory.can_write %}

			{% if perms.directory.can_create %}
			<li><a href="{% url admin_file_manager_mkdir directory.url %}" class="addlink">{% trans 'Create Directory' %}</a></li>
			{% endif %}

			{% if perms.file.can_create %}
			<li><a href="{% url admin_file_manager_create directory.url %}" class="addlink">{% trans 'Add File' %}</a></li>
			{% endif %}

			{% if perms.file.can_upload %}
			<li><a href="{% url admin_file_manager_upload directory.url %}" class="addlink">{% trans 'Upload File' %}</a></li>
			{% endif %}
			
			{% endif %}
        </ul>
    {% endblock %}
  
	<div class="module" id="changelist">
	<div class="actions">
	<!--
	<form action="" method="post">
		<label>Action: 
		<select name="action"> 
			<option value="" selected="selected">---------</option>
			<option value="delete_selected">Delete selected tags</option>
		</select>
		</label>
	<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
	-->
	{% if directory.url %}
		<a href="{% url admin_file_manager_list directory.parent %}">Up one Directory</a>
	{% else %}
		&nbsp;
	{% endif %}

	</div>

<table cellspacing="0">
	<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Size</th>
		<th>Permissions</th>
		<th>Created</th>
		<th>Modified</th>
		<th>User</th>
		<th>Group</th>
		<th colspan="4">Actions</th>
	</tr>
	</thead>
	<tbody>

{% regroup files|dictsortreversed:"directory" by directory as file_list %}

{% for dfile in file_list %}

{% for file in dfile.list|dictsort:"filename" %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td>
			{% if file.directory %}<span class="folder">D</span>{% endif %}	
		</td>
		<td>
			<a href="{% if file.directory %}{% url admin_file_manager_list file.fileurl %}{% else %}/{{ file.fileurl }}{% endif %}">{{ file.filename }}</a>

		</td>
		<td>
			{% if not file.directory %}
				{{ file.size|filesizeformat }}
			{% endif %}	
		</td>
		<td>{{ file.perms }}</td>
		<td>{{ file.ctime|date:"m/d/Y" }}</td>
		<td>{{ file.mtime|date:"m/d/Y" }}</td>
		<td>{{ file.user }}</td>
		<td>{{ file.group }}</td>

		<td>
			{% if not file.directory and file.can_edit and perms.file.can_create %}
			<a href="{% url admin_file_manager_update file.fileurl %}" class="changelink">Edit</a> 
			{% endif %}
		</td>

		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.directory.can_rename %}
				<a href="{% url admin_file_manager_rename file.fileurl %}" class="changelink">Rename</a>
				{% endif %}

				{% if not file.directory and perms.file.can_rename %}
				<a href="{% url admin_file_manager_rename file.fileurl %}" class="changelink">Rename</a>
				{% endif %}
			{% endif %}
		</td>
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.directory.can_move %}
				<a href="{% url admin_file_manager_move file.fileurl %}" class="changelink">Move</a>
				{% endif %}

				{% if not file.directory and perms.file.can_move %}
				<a href="{% url admin_file_manager_move file.fileurl %}" class="changelink">Move</a>
				{% endif %}
			{% endif %}
		</td>
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.directory.can_delete %}
				<a href="{% url admin_file_manager_delete file.fileurl %}" class="deletelink">Delete</a>
				{% endif %}
				
				{% if not file.directory and perms.file.can_delete %}
				<a href="{% url admin_file_manager_delete file.fileurl %}" class="deletelink">Delete</a>
				{% endif %}

			{% endif %}
		</td>
		<!--
		<td>
			{% if file.directory and perms.directory.can_copy %}
			<a href="{% url admin_file_manager_copy file.fileurl %}">Copy</a> 
			{% endif %}
				
			{% if not file.directory and perms.file.can_copy %}
			<a href="{% url admin_file_manager_copy file.fileurl %}">Copy</a> 
			{% endif %}
		</td>
		-->
	</tr>
{% endfor %}

{% endfor %}
	</tbody>
</table>

<p class="paginator">
	{{ files|length }} file{{ files|pluralize }}
</p>


</div>
{% endblock %}
