{% extends "admin/file_manager/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="../../">{% trans "Home" %}</a> &rsaquo;
	<a href="{% url index %}">{% trans "File Manager" %}</a> &rsaquo;
	{% trans 'Update' %}
</div>
{% endblock %}


{% block content %}
<h1>Update File</h1>

<form action="" method="POST">

{% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    <div class="form{% if field.errors %} error{% endif %}">
      {% if field.errors %}{{ field.errors }}{% endif %}
      {{ field.label_tag }} 
      {{ field }}
      {{ field.help_text|safe }}
    </div>
  {% endif %}
{% endfor %}

<div class="form">
	<a href="{% url delete url %}">Delete</a>
    <input name="submit" type="submit" value="Save" />
</div>

</form>

{% endblock %}
